# These are tools that are required for development using the virtualenv
# It should _not_ include package dependencies that are already listed
# in setup.py

coverage>=5.3.1,<6
pylint>=2.5.3,<3
tox>=3.14.6,<4
pycodestyle>=2.5.0,<3
pytest>=5.4.1,<6
# Can't use pytest-asyncio-0.15.0 - it causes failures
pytest-asyncio==0.14.0
pytest-mock>=3.5.1,<4
twine>=3.1.1
pytest-cov>=4.0.0,<5
